html,
body {
  margin: 0;
  padding: 0;
  background: url("pipes-texture.jpg");
  background-color: #333;
  font-family: Hack, monospace;
}

a {
  color: #600;
  text-decoration: none;
}

a:hover {
  color: #822;
}

#strip {
  margin: 0 auto;
  padding: 2ch;
  width: 48ch;
  color: #333;
  background-color: #AAA;
}

header h1 {
  padding: 3ch 0;
  background: url("duct-tape.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.lighter {
  color: #666;
}

#logo {
  font-size: 4ch;
}
