html,
body {
  margin: 0;
  padding: 0;
  background: url("img/new-glarus-dark-brewing-room-with-pipes.jpg");
  background-color: #111;
  background-attachment: fixed;
  background-position: center;
  font-family: Hack, monospace;
}

a {
  color: #C66;
  text-decoration: none;
}

a:hover {
  color: #933;
}

#strip, #wide-strip {
  margin: 0 auto;
  padding: 2ch;
  min-height: 1vh;
  color: #CCC;
  background-color: #222;
}

#strip {
  width: 48ch;
}

#wide-strip {
  width: 96ch;
}

#stdlib * {
  border: 0 none;
}

#stdlib tr td {
  padding: 2ch;
}

#stdlib tr td:nth-child(1) {
  min-width: 16ch;
  text-align: right;
}

#stdlib tr:nth-child(even) {
  background-color: #333;
}

header h1 {
  color: #300;
  padding: 3ch 0;
  background: url("img/duct-tape.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.lighter {
  color: #999;
}

#logo {
  font-size: 4ch;
}
